@mixin flexCenter($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

// @mixin navText() {
//   font-size: $h2;
//   font-weight: 700;
//   color: $wh;
//   padding: 2.5px;
// }

// @mixin navIcons() {
//   width: $icon;
//   filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(42deg)
//     brightness(99%) contrast(108%);
//   margin: 2.5px;
// }

@mixin navButton() {
  background-color: $lgreen;
  color: $wh;
  // font-size: 1.5rem;
  padding: 1rem 1rem;
  cursor: pointer;
  border-color: $lgreen;
}

// @mixin entryBox() {
//   padding: 1rem;
//   border: $lgr solid 1px;
//   height: 100%;
// }
