@import '../utilities/mixins';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    @include flexCenter(column, center, center);
    font-family: 'Asap', sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}